html {scroll-behavior: smooth}
body{
    margin: 0 auto;
    width: 40%;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: #333333;
    color:whitesmoke;
    
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.wrapper {
    cursor: pointer;
    min-width: 50%;
    margin:0 auto;
    cursor: pointer;
}

.mem-box {
    width: 100%;
    color: whitesmoke;
    overflow: hidden;
    margin-bottom: 1rem;
}


.mem-box-label {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: rgba(169, 207, 235, 0.8);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
}
.mem-box-label:hover {
    background: rgb(84, 108, 126);
    color: rgb(235, 139, 127);
}
.mem-box-label::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    background-size: 100% 100%;
    background-image: url(/cssBayan/cssBayan/icon/icons8-plus-math-100.png);
    opacity: 0;
    transition: all 0.3s;
}

.wrapper:hover > .mem-box > .mem-box-label::after {
   opacity: 1;
}

input:checked + .mem-box-label::after {
    transform: rotate(45deg);
}
@media only screen and (min-device-width: 320px) and (max-device-width:820px) {
    body{
        margin: 0 auto;
        width: 90%;}

    .picture{
            transition: all 0.8s ease-in-out;
            margin: 0.5rem auto;
            width:70%;
            height: 0vh;
            background-size: 100% 100%;
    }
    .mem-box-label {
        font-size: 1rem;
        
    }
    .mem-box-label::after {
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        background-size: 100% 100%;
        background-image: url(/cssBayan/cssBayan/icon/icons8-plus-math-100.png);
        opacity: 1;
        transition: all 0.4s;
    }    
    input:checked + .mem-box-label {
        background: rgb(122, 192, 241);
    }
    input:checked ~ .picture-1 {
        min-height: 30vh;
        background-image: url(/cssBayan/cssBayan/img/Error_on_line.jpg);
    }
    input:checked ~ .picture-2 {
        min-height: 30vh;
        background-image: url(/cssBayan/cssBayan/img/let_me_chek_my_code.jpg)
    }
    input:checked ~ .picture-3 {
        min-height: 30vh;
        background-image: url(/cssBayan/cssBayan/img/english.jpg);
    }
    input:checked ~ .picture-4 {
        min-height: 30vh;
        background-image: url(/cssBayan/cssBayan/img/my_code_is_working.jpg);
    }
    input:checked ~ .picture-5 {
        min-height: 30vh;
        background-image: url(/cssBayan/cssBayan/img/prettycode.jpg);
    }
    
}
@media only screen and (min-device-width: 1920px){
    .picture{
        
        margin: 0.5rem auto ;
        width:0%;
        height: 0vh;
        background-size: 100% 100%;
        
    }
    .mem-box-label:hover::after {
        transform: rotate(45deg);
    }

    .mem-box-label:hover ~ .picture-1 {
        width: 35%;
        height: 30vh;
        background-image: url(/cssBayan/cssBayan/img/Error_on_line.jpg);
        transition: all 0.5s ease-in-out;

        
    }
    .mem-box-label:hover ~ .picture-2 {
        width: 35%;
        height: 30vh;
        background-image: url(/cssBayan/cssBayan/img/let_me_chek_my_code.jpg);
        transition: all 0.5s ease-in-out;
    }
    .mem-box-label:hover ~ .picture-3 {
        width: 35%;
        height: 30vh;
        background-image: url(/cssBayan/cssBayan/img/english.jpg);
        transition: all 0.5s ease-in-out;
    }

    .picture-4{
        margin: 0.5rem auto;
        width:30%;
        height: 30vh;
        background-size: 100% 100%;
        background-image: url(/cssBayan/cssBayan/img/my_code_is_working.jpg);
        transition: all 0.8s
    }

    .mem-box-label:hover ~ .picture-5 {
        width: 35%;
        height: 30vh;
        background-image: url(/cssBayan/cssBayan/img/prettycode.jpg);
        transition: all 0.5s ease-in-out;
    }

}


